In [1]:
## Importing our libraries
import pandas as pd
import numpy as np
from config import db_password

In [2]:
## Create test data df 
fake_test_data = pd.read_csv('./Data/test.csv')

In [3]:
fake_test_data.head()

,id,title,author,text
0,20800,"Specter of Trump Loosens Tongues, if Not Purse...",David Streitfeld,"PALO ALTO, Calif. — After years of scorning..."
1,20801,Russian warships ready to strike terrorists ne...,NaN,Russian warships ready to strike terrorists ne...
2,20802,#NoDAPL: Native American Leaders Vow to Stay A...,Common Dreams,Videos #NoDAPL: Native American Leaders Vow to...
3,20803,"Tim Tebow Will Attempt Another Comeback, This ...",Daniel Victor,"If at first you don’t succeed, try a different..."
4,20804,Keiser Report: Meme Wars (E995),Truth Broadcast Network,42 mins ago 1 Views 0 Comments 0 Likes 'For th...

In [4]:
#  Check null values
fake_test_data.isnull().sum()

id          0
title     122
author    503
text        7
dtype: int64

In [5]:
# Droping null values
fake_test_df=fake_test_data.dropna()

In [19]:
fake_test_df.head()

,id,title,author,text
0,20800,"Specter of Trump Loosens Tongues, if Not Purse...",David Streitfeld,"PALO ALTO, Calif. — After years of scorning..."
2,20802,#NoDAPL: Native American Leaders Vow to Stay A...,Common Dreams,Videos #NoDAPL: Native American Leaders Vow to...
3,20803,"Tim Tebow Will Attempt Another Comeback, This ...",Daniel Victor,"If at first you don’t succeed, try a different..."
4,20804,Keiser Report: Meme Wars (E995),Truth Broadcast Network,42 mins ago 1 Views 0 Comments 0 Likes 'For th...
6,20806,Pelosi Calls for FBI Investigation to Find Out...,Pam Key,"Sunday on NBC’s “Meet the Press,” House Minori..."

In [7]:
# Creating cleaned table in sql 

from sqlalchemy import create_engine

db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/fake_news_db"
engine = create_engine(db_string)

fake_test_df.to_sql(name='fake_test', if_exists='replace',con=engine)

575

In [8]:
## Created our database 
fake_train_data = pd.read_csv('./Data/train.csv')

In [9]:
fake_train_data.head()

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1

In [10]:
#  Check null values
fake_train_data.isnull().sum()

id           0
title      558
author    1957
text        39
label        0
dtype: int64

In [11]:
# Droping null values
fake_news_df=fake_train_data.dropna()

In [12]:
fake_news_df.head()

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1

In [13]:
# Creating cleaned table in sql 

from sqlalchemy import create_engine

db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/fake_news_db"
engine = create_engine(db_string)

fake_news_df.to_sql(name='fake_news', if_exists='replace',con=engine)

285

In [14]:
# Extracting after joined both tables and dropped nulls 

from sqlalchemy import create_engine

db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/fake_news_db"
engine = create_engine(db_string)

fake_news_clean= pd.read_sql('SELECT * FROM joined_df', engine)

fake_news_clean.head()

,id,title,author,text,label
0,20800,"Specter of Trump Loosens Tongues, if Not Purse...",David Streitfeld,"PALO ALTO, Calif. — After years of scorning...",1
1,20802,#NoDAPL: Native American Leaders Vow to Stay A...,Common Dreams,Videos #NoDAPL: Native American Leaders Vow to...,1
2,20803,"Tim Tebow Will Attempt Another Comeback, This ...",Daniel Victor,"If at first you don’t succeed, try a different...",1
3,20804,Keiser Report: Meme Wars (E995),Truth Broadcast Network,42 mins ago 1 Views 0 Comments 0 Likes 'For th...,1
4,20807,Weekly Featured Profile – Randy Shannon,Trevor Loudon,You are here: Home / *Articles of the Bound* /...,0

In [15]:
# Merged data from 'title' & 'author' columns to new column 'merged'

fake_news_clean["merged"] = fake_news_clean["title"]+" "+fake_news_clean["author"]

fake_news_clean.head()

,id,title,author,text,label,merged
0,20800,"Specter of Trump Loosens Tongues, if Not Purse...",David Streitfeld,"PALO ALTO, Calif. — After years of scorning...",1,"Specter of Trump Loosens Tongues, if Not Purse..."
1,20802,#NoDAPL: Native American Leaders Vow to Stay A...,Common Dreams,Videos #NoDAPL: Native American Leaders Vow to...,1,#NoDAPL: Native American Leaders Vow to Stay A...
2,20803,"Tim Tebow Will Attempt Another Comeback, This ...",Daniel Victor,"If at first you don’t succeed, try a different...",1,"Tim Tebow Will Attempt Another Comeback, This ..."
3,20804,Keiser Report: Meme Wars (E995),Truth Broadcast Network,42 mins ago 1 Views 0 Comments 0 Likes 'For th...,1,Keiser Report: Meme Wars (E995) Truth Broadcas...
4,20807,Weekly Featured Profile – Randy Shannon,Trevor Loudon,You are here: Home / *Articles of the Bound* /...,0,Weekly Featured Profile – Randy Shannon Trevor...

In [16]:
# Updating all columns 

fake_news_clean.columns = ['ID', 'Title', 'Author', 'Text', 'Label', 'Merged']

fake_news_clean.head()

,ID,Title,Author,Text,Label,Merged
0,20800,"Specter of Trump Loosens Tongues, if Not Purse...",David Streitfeld,"PALO ALTO, Calif. — After years of scorning...",1,"Specter of Trump Loosens Tongues, if Not Purse..."
1,20802,#NoDAPL: Native American Leaders Vow to Stay A...,Common Dreams,Videos #NoDAPL: Native American Leaders Vow to...,1,#NoDAPL: Native American Leaders Vow to Stay A...
2,20803,"Tim Tebow Will Attempt Another Comeback, This ...",Daniel Victor,"If at first you don’t succeed, try a different...",1,"Tim Tebow Will Attempt Another Comeback, This ..."
3,20804,Keiser Report: Meme Wars (E995),Truth Broadcast Network,42 mins ago 1 Views 0 Comments 0 Likes 'For th...,1,Keiser Report: Meme Wars (E995) Truth Broadcas...
4,20807,Weekly Featured Profile – Randy Shannon,Trevor Loudon,You are here: Home / *Articles of the Bound* /...,0,Weekly Featured Profile – Randy Shannon Trevor...

In [17]:
# Creating final dataframe after cleaning 

fake_news_final = fake_news_clean

fake_news_final.head()

,ID,Title,Author,Text,Label,Merged
0,20800,"Specter of Trump Loosens Tongues, if Not Purse...",David Streitfeld,"PALO ALTO, Calif. — After years of scorning...",1,"Specter of Trump Loosens Tongues, if Not Purse..."
1,20802,#NoDAPL: Native American Leaders Vow to Stay A...,Common Dreams,Videos #NoDAPL: Native American Leaders Vow to...,1,#NoDAPL: Native American Leaders Vow to Stay A...
2,20803,"Tim Tebow Will Attempt Another Comeback, This ...",Daniel Victor,"If at first you don’t succeed, try a different...",1,"Tim Tebow Will Attempt Another Comeback, This ..."
3,20804,Keiser Report: Meme Wars (E995),Truth Broadcast Network,42 mins ago 1 Views 0 Comments 0 Likes 'For th...,1,Keiser Report: Meme Wars (E995) Truth Broadcas...
4,20807,Weekly Featured Profile – Randy Shannon,Trevor Loudon,You are here: Home / *Articles of the Bound* /...,0,Weekly Featured Profile – Randy Shannon Trevor...

In [18]:
# 
from sqlalchemy import create_engine

db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/fake_news_db"
engine = create_engine(db_string)

fake_news_final.to_sql(name='fake_news_final', if_exists='replace',index= False, con=engine)

19